body{
    background-color: rgb(255, 255, 255);
}

header{
    font-size: 100px;
    text-align: center;
}
h1{
    text-align: center;
    padding: 0;
    margin: 0px;
}
footer{
    text-align: center;
}
ul{
    padding: 5px;
    margin: 0;
    background-color: cadetblue;
    width: 200px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
ul li{
    border: 1px solid black;
    list-style-type: none;
    margin: 5px;
}
ul li a{
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    
}
ul li a:hover{
    background-color: green;
}
dt{
    text-align: center;
   font-weight: bold;
}
dl{
    text-align: center;
    background-color: orange;
    

}